# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [1]:
import csv
%precision 2

with open('datasets/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

### To get length of the file

In [2]:
len(mpg)

234

### To check header of the file

In [3]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

### Find average city mpg

In [4]:
avg = 0
for d in mpg:
    avgcity = int(d['cty'])
    avg += avgcity
avg/len(mpg)

16.86

In [5]:
sum(int(d['cty']) for d in mpg)/len(mpg)

16.86

### Find average hwy mpg

In [6]:
avg = 0
for d in mpg:
    avghwy = float(d['hwy'])
    avg += avghwy
avg/len(mpg)

23.44

In [7]:
sum(float(d['hwy']) for d in mpg)/len(mpg)

23.44

### Store result in a set

In [18]:
v = set()
for d in mpg:
    a = d['cyl']
    v.add(a)

In [19]:
v

{'4', '5', '6', '8'}

In [9]:
cylinders = set(d['cyl'] for d in mpg)

In [10]:
cylinders

{'4', '5', '6', '8'}

### Calculate average city of each cyclinders

In [14]:
averagecyl = []
for c in cylinders:
    sumcyl = 0
    countcyl = 0
    for i in mpg:
        if i['cyl'] == c:
            sumcyl +=int(i['cty'])
            countcyl+=1
    averagecyl.append((c,sumcyl/countcyl) )

In [15]:
averagecyl

[('8', 12.57), ('5', 20.50), ('6', 16.22), ('4', 21.01)]

### Calculate average city of each class ( Home work)

#### Interview questions ( Count occurance of each item in a list)

In [26]:
a = [1,1,1,2,3,3]

bset = set(a)
print(bset)
dt = []
for b in bset:
    ctlist = 0
    for i in a:
        if i == b:
            ctlist += 1
    dt.append((b,ctlist))

{1, 2, 3}

### Homework  ( Count occurance of each word in a string)

In [27]:
data = 'aaaaabbbccc'

## The Python Programming Language: Dates and Times

In [29]:
import datetime as dt
import time as t

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [30]:
t.time()

1616699597.88

<br>
`timedelta` is a duration expressing the difference between two dates.

In [33]:
days = dt.timedelta(days = 5)

datetime.timedelta(days=5)

<br>
`date.today` returns the current local date.

In [34]:
today = dt.date.today()

In [35]:
today - days

datetime.date(2021, 3, 21)

### map(function,iterable...)

Returns a iterator that applies functions to every item of iterable yielding the results

In [42]:
a = [1,2,3]
b = [4,5,6]
list(map(min,a,b))

[1, 2, 3]

In [43]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_lastname(people):
    title = people.split(' ')[0]
    lastname = people.split(' ')[-1]
    return '{} {}'.format(title,lastname)

list(map(split_title_lastname,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

## Python Lambda and list comprehension

In [44]:
myfunction = lambda a,b,c:a+b

In [45]:
myfunction(1,2,3)

3

In [46]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

func = lambda people:people.split(' ')[0]+ ' ' + people.split(' ')[-1]
list(map(func,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [48]:
listd = []
for i in range(0,1000):
    if i%2 ==0:
        listd.append(i)

<br>
Now the same thing but with list comprehension.

In [52]:
data = [i for i in range(0,1000) if i%2 == 0]