# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [1]:
import csv

%precision 2

with open('datasets/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    mpg

### To get length of the file

In [2]:
len(mpg)

234

### To check header of the file

In [3]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

### Find average city mpg

In [4]:
avg = 0
for d in mpg:
    avgcity = int(d['cty'])
    avg = avg+avgcity
avg/len(mpg)

16.86

In [5]:
sum(int(d['cty']) for d in mpg)/len(mpg)

16.86

### Find average hwy mpg

In [6]:
avg = 0
for d in mpg:
    avgcity = int(d['hwy'])
    avg = avg+avgcity
avg/len(mpg)

23.44

In [ ]:
sum(int(d['hwy']) for d in mpg)/len(mpg)

### Store result in a set

### Calculate average city of each cyclinders

### Calculate average city of each class ( Home work)

#### Interview questions ( Count occurance of each item in a list)

### Homework  ( Count occurance of each word in a string)

In [27]:
data = 'aaaaabbbccc'

## The Python Programming Language: Dates and Times

In [29]:
import datetime as dt
import time as t

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [30]:
t.time()

1616699597.88

<br>
`timedelta` is a duration expressing the difference between two dates.

In [33]:
days = dt.timedelta(days = 5)

datetime.timedelta(days=5)

<br>
`date.today` returns the current local date.

In [34]:
today = dt.date.today()

In [35]:
today - days

datetime.date(2021, 3, 21)

### map(function,iterable...)

Returns a iterator that applies functions to every item of iterable yielding the results

In [42]:
a = [1,2,3]
b = [4,5,6]
list(map(min,a,b))

[1, 2, 3]

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

## Python Lambda and list comprehension

In [46]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

<br>
Let's iterate from 0 to 999 and return the even numbers.

<br>
Now the same thing but with list comprehension.