# Basic Python Programming language for data manipulation

In [2]:
x = 1
y = 1
x + y

2

In [3]:
x

1

### Write a function to add two number

In [5]:
def add_number(x,y):
    return x+y

In [6]:
add_number(2,3)

5

### Write a function to add three number (Home work)

### Write function to add three number and make 3rd parameter as default

In [9]:
def add_number(x,y,z = None):
    if z == None:
        return x+y
    else:
        return x+y+z

In [11]:
add_number(2,3,2)

7

### Write function to add three number and make 3rd parameter as default and 4th parameter as flag

In [23]:
def add_number(x,y,z = None, flag = False):
    if flag ==True:
        print('Flag is true')
    if z==None:
        return x+y
    else:
        return x+y+z

In [24]:
add_number(2,3)

5

In [27]:
a = add_number
a(2,3)

5

### Types of variable

In [29]:
type(x)

int

In [31]:
type(2.1)

float

In [30]:
type(add_number)

function

In [32]:
type(None)

NoneType

## Collections in Python

#### Collections in Python are containers that are used to store collections of data, for example, list, dict, set, tuple etc.

<br>
Tuples are an immutable data structure (cannot be altered).

In [42]:
x = (1,2,'a','c')

In [43]:
type(x)

tuple

<br>
Lists are a mutable data structure.

In [44]:
x = [1,2,'a','b']

In [38]:
x.append(4)

In [46]:
type(x)

list

In [47]:
for item in x:
    print(item)

1
2
a
b

In [50]:
i=0
while i < len(x):
    print(x[i])
    i=i+1

1
2
a
b

In [52]:
1 in [1,2,3]

True

### Slicing [start,end,step]

In [4]:
x = 'This is a string'

x[1]
x[0:10]

'This is a '

In [5]:
x = [1,2,3,4,5]

In [6]:
x[-1]

5

In [12]:
x[1:4:2]

[2, 4]

In [13]:
x[::-1]

[5, 4, 3, 2, 1]

In [69]:
x = 'Dr. Johns Brooks'

print(x[4:9])

Johns

In [76]:
Name = 'Ajit Chaudhary'

In [77]:
Name.split(' ')[0]
Name.split(' ')[-1]

'Chaudhary'

In [78]:
'Ajit'+str(2)

'Ajit2'

### Dictionaries
Dictionaries are used to store data values in key:value pairs.

In [88]:
x = {'John':'John@gmail.com','Jeff':'Jeff@gmail.com'}
x['John']

'John@gmail.com'

In [90]:
for i in x:
    print(i)

John
Jeff

In [91]:
for i in x:
    print(x[i])

John@gmail.com
Jeff@gmail.com

In [86]:
for key,value in x.items():
    print(key,value)

John John@gmail.com
Jeff Jeff@gmail.com

In [83]:
for i in x.keys():
    print(i)

John
Jeff

In [84]:
for i in x.values():
    print(i)

John@gmail.com
Jeff@gmail.com

In [92]:
x = ('Ajit','Chaudhary','it.akchaudhary57@gmail.com')
FName,LastName,Email = x

In [93]:
FName

'Ajit'

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} items at a price of {} each for the total of {}'

print(sales_statement.format(sales_record['person'],sales_record['num_items'],sales_record['price'],
                             sales_record['price']*sales_record['num_items']))